{% extends 'base.html.twig' %}

{% block title %}Hello FaqController!{% endblock %}

{% block body %}

 


<div id="faq" data-pseudo="{{ app.user.email  }}" data-questiontest="{{ faq.question  }}" data-questionarray="{{ faqarray }}"></div>
    
  
{% endblock %}
