
  :root {
    --fridge: #927A49;
    --pantry: #CB8D11;
    --shoplist: #1FCEE6;
    --primary : #f2f2f2;
    --secondary : #f84444f1;
  }
  
  /* Constant */

  .fridge-bg-color {
    background-color: var(--fridge);
  } 
  .pantry-bg-color {
    background-color: var(--pantry);
  } 
  .shoplist-bg-color {
    background-color: var(--shoplist);
  } 


  #nav_bar_logo {

    height: 4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }


  .header-nav-bar {
    border: 2px solid var(--primary);
    text-align: center;
  }

  .btn-login {
    float:right;
    margin: 1em;
    border: 2px solid var(--primary);
    border-radius: 1em;
    background-color: var(--secondary);
    font-family: system-ui;
    color:var(--primary) ;
  }

  .btn-login:hover {
    float:right;
    margin: 1em;
    border: 2px solid var(--primary);
    border-radius: 1em;
    background-color: var(--secondary);
    font-family: system-ui;
    color: var(--primary);
  }

  .fa-user {
    color: var(--primary);
    padding: 1px;
    margin-right: 2px;
  }
  

  .container {
    padding: 2rem 0rem;
  }
  
 
  /* desing dashboard */

  .card-fridge {
    background-color: var(--fridge);
  }

  .card-pantry {
    background-color: var(--pantry);
  }

  .card-shoplist {
    background-color: var(--shoplist);
  }
