{% extends 'base.html.twig' %}

{% block title %}Salut!{% endblock %}

{% block body %}

<main role="main" class="container">

  <div class="starter">
    <h1>Pantry starter pack</h1>
    <p class="lead">Votre gestionnaire anti gaspillage<br> Pour moins de 2000€ mensuel  on vous aide a moins gaspiller </p>
  </div>

</main>


{% endblock %}