<nav class="header-nav-bar">
    <img id="nav_bar_logo" src="{{ asset('img/pantry_logo.png') }}" class="rounded" alt="...">
    <a href="{{ path('security_login')}}" class="btn btn-login"  ><i class="fas fa-user"></i>Connexion</a>
</nav>

