{% extends 'base.html.twig' %}

{% block title %}Fridge{% endblock %}

{% block body %}
<a href="{{ path("dashboard_index") }}"><i class="fas fa-arrow-circle-left"></i></a>

{{container.name}}

{% if products_list is empty %}
    <a href=""> Créer votre première liste</a>
{% else %}
    {% for product in products_list %}
    <div class="d-flex flex-row shoplist-bg-color justify-content-around ">
    
        <div class="justify-content-around">
            <span> {{ product.name }}</span>
            <span> {{ product.quantity }}</span>
        </div>

        <div class="">
            <i class="far fa-list-alt"></i>
            <i class="far fa-check-square"></i>
            <i class="fas fa-undo"></i>
            <i class="fas fa-times"></i>  
        </div>
        
    </div>
    {% endfor %}
{% endif %}


{% endblock %}
