<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block nav %}
		<div id="navbarIndex"></div>
	{% endblock %}
    
    {% block body %}
        
       
    {% endblock %}
         <div id="footer"></div>
    {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
    
    </body>
     <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

</html>
